# 依赖库
#requirements.txt  

# =======================
# 文档处理
# =======================
python-pptx
python-docx
PyPDF2
PyMuPDF
pdfkit

# =======================
# 文本/HTML 解析
# =======================
markdown2
beautifulsoup4

# =======================
# OCR
# =======================
easyocr
Pillow

# =======================
# Web / 前端
# =======================
streamlit

# =======================
# 工具
# =======================
langdetect
python-dotenv

# =======================
# AI
# =======================
openai>=1.0.0